<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <parameter name="browser" value="chrome"></parameter>-->
    <test verbose="2" preserve-order="true" name="E:/test/PageObjectDemo">
        <classes>
            <class name="com.logigear.testcases.railway.bookticket.TC15_BookTicketPageOpenByLinkOnTrainTimetable">
                <methods>
                    <include name="TC15"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.bookticket.TC04_LoginPageDisplays">
                <methods>
                    <include name="TC04"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.bookticket.TC14_UserCanBook1Ticket">
                <methods>
                    <include name="TC14"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.changepassword.TC09_UserCanChangePassword">
                <methods>
                    <include name="TC09"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.login.TC01_LoginWithValidUsernameAndPassword">
                <methods>
                    <include name="TC01"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.login.TC02_LoginWithBlankUsernameTxt">
                <methods>
                    <include name="TC02"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.login.TC03_LoginWithInvalidPassword">
                <methods>
                    <include name="TC03"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.login.TC05_LoginWithWrongPasswordSeveralTimes">
                <methods>
                    <include name="TC05"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.login.TC06_AdditionalPagesDisplay">
                <methods>
                    <include name="TC06"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.myticket.TC16_UserCanCancelATicket">
                <methods>
                    <include name="TC16"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.register.TC07_UserCanCreateNewAccount">
                <methods>
                    <include name="TC07"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.register.TC10_RegisterWithMismatchPasswordAndConfirmPassword">
                <methods>
                    <include name="TC10"/>
                </methods>
            </class>
            <class name="com.logigear.testcases.railway.register.TC11_RegisterWithBlankPasswordAndBlankPID">
                <methods>
                    <include name="TC11"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
